body {
    background-color: white !important;
}

.no-print {
    display: none;
}

/* Show only elements with the print-only class */
.print-only {
    display: inline !important;
    font-size: 2rem;
}

.student-whole {
    display: grid !important;
}

/* Ensure that certain elements within print-only sections, like table rows or cells, are shown */
.print-only table {
    display: table !important;
    width: 100%;
    border-collapse: collapse;
    display: table-row !important;
    display: table-cell !important;
    display: table-header-group !important;
    table-layout: fixed !important;
}

th, td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

/* Make the first column auto width to fit content */
th:first-child, td:first-child {
    white-space: nowrap;
    width: 1%; 
    text-align: left;
    padding-right: 50px;
}


/* Optional: If you want to handle specific styles for certain elements within print-only, you can add more styles here */

.student-hide {
    display: inline;
}

h1.week-of {
    background-color: white;
    font-size: 4.5rem;
}

h2.print-headers {
    background-color: white;
    color: blue;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-size: 4rem;
}
