body {
    background-color: white !important;
}

.no-print {
    display: none;
}

/* Show only elements with the print-only class */
.print-only {
    display: inline !important;
    font-size: 18pt;
}

.student-whole {
    display: grid !important;
    align-items: center;
    justify-content: center;
}

/* Ensure that certain elements within print-only sections, like table rows or cells, are shown */
.print-only table {
    display: table !important;
    border-collapse: collapse;
    display: table-row !important;
    display: table-cell !important;
    display: table-header-group !important;
    table-layout: fixed !important;
}

th, td {
    padding: 5pt;
    border: 2pt solid black;
    text-align: center;
    font-size: 14pt;
}

/* Make the first column auto width to fit content */
th:first-child, td:first-child {
    white-space: nowrap;
    text-align: left;
    padding-right: 50px;
}


th:not(:first-child), td:not(:first-child) {
    width: 70pt;
}

/* Optional: If you want to handle specific styles for certain elements within print-only, you can add more styles here */

.student-hide {
    display: inline;
}

h1.week-of {
    background-color: white;
    font-size: 28px;
}

h2.print-headers {
    background-color: white;
    color: blue;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    padding: 15pt;
    margin: 5pt;
    font-size: 20pt;
}
