body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  text-align: center;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.student, .radio-button-name {
  padding-left: 0px;
  padding-right: 0px;
}

.radio-button-name {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 5fr;
  text-align: center;
  align-items: center;
}

.radio-button-legend {
  text-align: left;
  padding-left: 0px;
}

.radio-button-name label, .radio-button-legend {
  margin-bottom: 0;
  font-size: 1.25rem;
  text-align:  left;
}
